
<div class ='user'>
  <img class="user_img" src=<%= @user.photo %> alt=<%= @user.name %> />
  <%= render "share/user",   user: @user  %>
</div>

<div class = details>
  <div class = 'bio'>
    <h2>Bio</h2>
    <p><%= @user.bio  %></p>
  </div>

   <% if @current_user.id == @user.id %>
       <div class = "create_post_wrapper">
          <%= link_to 'Create New Post', new_user_post_path(@user), class: "btn_create_post" %>
       </div>
    <% end %>

   <% @user.recent_posts.each do |post, index| %>
     <div class='user_posts' id='post_number-<%=post.id%>'>
      <%= render "share/posts",   post: post, writer: false%>
    </div>
   <% end %>


 <%= link_to 'See all posts', user_posts_path(@user), class: "see-btn" %>
</div>
