
<div class ='user'>
  <img class="user_img" src=<%= @user.photo %> alt=<%= @user.name %> />
  <%= render "share/user",   user: @user  %>
</div>


<% @user.posts.each do |post| %>
  <div class='post_details' id='post_body-<%=post.id%>'>
    <%= render "share/posts",   post: post , writer: false%>


   <% post.retrieve_recent_comments.each do |comment| %>
      <%=render "share/comments", comment: comment%>
   <% end %>
 </div>
<% end %>